In [49]:
import numpy as np
import pandas as pd

In [50]:
tlx=pd.Series(['贵阳','贵阳一中','没有'])

In [51]:
jzy=pd.Series(['南京','南师附中江宁','好多'])

In [52]:
dwx=pd.Series(['大连','理工副高','没有'])

In [53]:
zzn=pd.Series(['义乌','杭州英特','土豆'])

In [54]:
zjy=pd.Series(['南京','南外仙林','薯片'])

In [55]:
wjq=pd.Series(['无锡','无锡外国语','巧克力'])

In [56]:
qlf=pd.Series(['无锡','上实剑桥','没有'])

In [57]:
zl=pd.Series(['上海','上实剑桥','薯条'])

In [58]:
df=pd.concat([tlx,jzy,dwx,zzn,zjy,wjq,qlf,zl],axis=1,keys=['谭亮轩','蒋政业','董文轩','朱振男','赵俊祎','王嘉琪','钱霖帆','詹路'])
df.index=['city','school','food']

In [59]:
df

         谭亮轩     蒋政业   董文轩   朱振男   赵俊祎    王嘉琪   钱霖帆    詹路
city      贵阳      南京    大连    义乌    南京     无锡    无锡    上海
school  贵阳一中  南师附中江宁  理工副高  杭州英特  南外仙林  无锡外国语  上实剑桥  上实剑桥
food      没有      好多    没有    土豆    薯片    巧克力    没有    薯条